<div class="text-center">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Historical End of Day Data for TSLA</h2>
  <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">US stocks, adjusted for splits.</p>
  <img src="images/historical.png" alt="Historical End of Day Data" class="w-[25rem]" />
</div>

<div class="mt-5 grid grid-cols-1 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow md:grid-cols-1 md:divide-x md:divide-y-0">
  <% @eod_data.each do |entry| %>
    <div class="px-4 py-5 sm:p-6">
      <dt class="text-base font-normal text-gray-900">Date: <%= entry["date"] %></dt>
      <dd class="mt-1 grid grid-cols-2 md:grid-cols-5 gap-x-4 gap-y-2">
        <div class="flex items-baseline text-lg font-semibold text-indigo-600">
          Open: $<%= entry["open"] %>
        </div>
        <div class="flex items-baseline text-lg font-semibold text-indigo-600">
          High: $<%= entry["high"] %>
        </div>
        <div class="flex items-baseline text-lg font-semibold text-indigo-600">
          Low: $<%= entry["low"] %>
        </div>
        <div class="flex items-baseline text-lg font-semibold text-indigo-600">
          Close: $<%= entry["close"] %>
        </div>
        <div class="flex items-baseline text-lg font-semibold text-indigo-600">
          Volume: <%= entry["volume"] %>
        </div>
      </dd>
    </div>
  <% end %>
</div>
<% if @error_message %>
  <p><%= @error_message %></p>
<% else %>
  <!-- The EOD data table is already displayed above -->
<% end %>
