 <div class="text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">From the blog</h2>
      <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">Latest financial and market news updates.</p>
    </div>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8">
    <% if @finance_data && @finance_data.any? %>
      <% @finance_data.each do |news| %>
        <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
          <time datetime="<%= news['published_at'] %>" class="block text-sm leading-6 text-gray-600"><%= Date.parse(news['published_at']).strftime("%b %d, %Y") %></time>
          <h2 id="featured-post" class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= news['title'] %></h2>
          <p class="mt-4 text-lg leading-8 text-gray-600"><%= news['description'] %></p>
          <div class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col">
             <img src="<%= news['image_url'] %>" alt="News Image" class="w-full rounded-lg">
            <div class="flex">
              <a href="<%= news['url'] %>" target="_blank" class="text-sm font-semibold leading-6 text-indigo-600" aria-describedby="featured-post">Continue reading <span aria-hidden="true">&rarr;</span></a>
            </div>
          </div>
        </article>
      <% end %>
    <% else %>
      <div class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
       <%= erb(:'skeleton/error') %>
      </div>
    <% end %>
  </div>
</div>
