<div class="text-center">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"> Welcome to Market Mood - Sentiment Analysis</h2>
  <p class="mx-auto mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">Overview of market sentiment based on recent news articles</p>
  <canvas id="sentiment-pie-chart" width="50" height="50"></canvas>
</div>

<div class="bg-white py-8 sm:py-12">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="col-span-1">
      <h1 class="text-2xl leading-6 text-gray-900">Positive Sentiment</h1>
      <ul class="mt-4 space-y-4">
        <% @positive_data.each do |news| %>
          <li class="bg-white p-4 shadow sm:rounded-lg">
            <strong class="text-lg"><%= news['title'] %>:</strong>
            <p class="mt-2 text-gray-700"><%= news['description'] %></p>
            <% if news["entities"].any? %>
              <ul class="mt-4 space-y-2">
                <% news["entities"].each do |entity| %>
                  <li class="text-sm text-gray-500">
                    <strong class="text-gray-900"><%= entity["symbol"] %></strong> - <%= entity["name"] %> (<%= entity["type"] %>)
                  </li>
                  <li class="text-sm text-gray-500">Industry: <%= entity["industry"] %></li>
                  <li class="text-sm text-gray-500">Match Score: <%= entity["match_score"] %></li>
                  <li class="text-sm text-gray-500">Sentiment Score: <%= entity["sentiment_score"] %></li>
                <% end %>
              </ul>
            <% end %>
            <p class="mt-4"><a href="<%= news["url"] %>" target="_blank" class="text-indigo-600 hover:text-indigo-900">Read more</a></p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-span-1">
      <h1 class="text-2xl leading-6 text-gray-900">Neutral Sentiment</h1>
      <ul class="mt-4 space-y-4">
        <% @neutral_data.each do |news| %>
          <li class="bg-white p-4 shadow sm:rounded-lg">
            <strong class="text-lg"><%= news['title'] %>:</strong>
            <p class="mt-2 text-gray-700"><%= news['description'] %></p>
            <% if news["entities"].any? %>
              <ul class="mt-4 space-y-2">
                <% news["entities"].each do |entity| %>
                  <li class="text-sm text-gray-500">
                    <strong class="text-gray-900"><%= entity["symbol"] %></strong> - <%= entity["name"] %> (<%= entity["type"] %>)
                  </li>
                  <li class="text-sm text-gray-500">Industry: <%= entity["industry"] %></li>
                  <li class="text-sm text-gray-500">Match Score: <%= entity["match_score"] %></li>
                  <li class="text-sm text-gray-500">Sentiment Score: <%= entity["sentiment_score"] %></li>
                <% end %>
              </ul>
            <% end %>
            <p class="mt-4"><a href="<%= news["url"] %>" target="_blank" class="text-indigo-600 hover:text-indigo-900">Read more</a></p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-span-1">
      <h1 class="text-2xl leading-6 text-gray-900">Negative Sentiment</h1>
      <ul class="mt-4 space-y-4">
        <% @negative_data.each do |news| %>
          <li class="bg-white p-4 shadow sm:rounded-lg">
            <strong class="text-lg"><%= news['title'] %>:</strong>
            <p class="mt-2 text-gray-700"><%= news['description'] %></p>
            <% if news["entities"].any? %>
              <ul class="mt-4 space-y-2">
                <% news["entities"].each do |entity| %>
                  <li class="text-sm text-gray-500">
                    <strong class="text-gray-900"><%= entity["symbol"] %></strong> - <%= entity["name"] %> (<%= entity["type"] %>)
                  </li>
                  <li class="text-sm text-gray-500">Industry: <%= entity["industry"] %></li>
                  <li class="text-sm text-gray-500">Match Score: <%= entity["match_score"] %></li>
                  <li class="text-sm text-gray-500">Sentiment Score: <%= entity["sentiment_score"] %></li>
                <% end %>
              </ul>
            <% end %>
            <p class="mt-4"><a href="<%= news["url"] %>" target="_blank" class="text-indigo-600 hover:text-indigo-900">Read more</a></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const positiveData = <%= JSON.generate(@positive_data) %>;
    const neutralData = <%= JSON.generate(@neutral_data) %>;
    const negativeData = <%= JSON.generate(@negative_data) %>;

    const ctx = document.getElementById('sentiment-pie-chart').getContext('2d');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Positive', 'Neutral', 'Negative'],
        datasets: [{
          data: [positiveData.length, neutralData.length, negativeData.length],
          backgroundColor: ['#4c51bf', '#5a67d8', '#7f9cf5'],
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          }
        }
      }
    });
  });
</script>
