    <div>
      <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
      <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-900/80" aria-hidden="true"></div>
        <div class="fixed inset-0 flex">
          <div class="relative mr-16 flex w-full max-w-xs flex-1">
            <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
              <button type="button" class="-m-2.5 p-2.5">
                <span class="sr-only">Close sidebar</span>
                <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-2">
              <div class="flex h-16 shrink-0 items-center"></div>
              <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                  <li>
                    <ul role="list" class="-mx-2 space-y-1">
                      <li>
                        <a href="/skeleton/dashboard" data-content="Dashboard Content" data-section="dashboard" class="sidebar-link group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-indigo-600">
                          Dashboard
                        </a>
                      </li>
                      <li>
                        <a href="/data/news" data-content="News Content" data-section="news" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                          News
                        </a>
                      </li>
                      <li>
                        <a href="#" data-content="Intraday Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                          Intraday Data
                        </a>
                      </li>
                      <li>
                        <a href="#" data-content="Historical Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                          Historical
                        </a>
                      </li>
                      <li>
                        <a href="/stocks_data" data-content="Stock Price Correlation Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                          Stock Price Correlation
                        </a>
                      </li>
                      <li>
                        <a href="#" data-content="Custom Sentiment Analysis Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                          Custom Sentiment Analysis
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <div class="text-xs font-semibold leading-6 text-gray-400">More</div>
                    <ul role="list" class="-mx-2 mt-2 space-y-1">
                      <li>
                        <a href="#" data-content="Help/FAQ Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                          <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">H</span>
                          <span class="truncate">Help/FAQ</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Static sidebar for desktop -->
      <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
        <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
          <div class="flex h-16 shrink-0 items-center"></div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">
              <li>
                <ul role="list" class="-mx-2 space-y-1">
                  <li>
                    <a href="/skeleton/dashboard" data-content="Dashboard Content" data-section="dashboard" class="sidebar-link group flex gap-x-3 rounded-md bg-gray-50 p-2 text-sm font-semibold leading-6 text-indigo-600">
                      <svg class="h-6 w-6 shrink-0 text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                      </svg>
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="/data/news" data-content="News Content" data-section="news" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.001 9.001 0 100-14.256M19.5 12h-15" />
                      </svg>
                      News
                    </a>
                  </li>
                  <li>
                    <a href="#" data-content="Intraday Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12m-12 6h12m-12 6h12M3.75 6.75h.008v.008H3.75V6.75zm0 6h.008v.008H3.75v-.008zm0 6h.008v.008H3.75v-.008z" />
                      </svg>
                      Intraday data
                    </a>
                  </li>
                  <li>
                    <a href="#" data-content="Historical Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                      </svg>
                      Historical
                    </a>
                  </li>
                  <li>
                    <a href="/stocks_data" data-content="Stock Price Correlation Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                      Stock Price Correlation
                    </a>
                  </li>
                  <li>
                    <a href="#" data-content="Custom Sentiment Analysis Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                      <svg class="h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12m-12 6h12m-12 6h12M3.75 6.75h.008v.008H3.75V6.75zm0 6h.008v.008H3.75v-.008zm0 6h.008v.008H3.75v-.008z" />
                      </svg>
                      Custom Sentiment Analysis
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <div class="text-xs font-semibold leading-6 text-gray-400">More</div>
                <ul role="list" class="-mx-2 mt-2 space-y-1">
                  <li>
                    <a href="#" data-content="Help/FAQ Content" class="sidebar-link group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50 hover:text-indigo-600">
                      <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-400 group-hover:border-indigo-600 group-hover:text-indigo-600">H</span>
                      <span class="truncate">Help/FAQ</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="lg:pl-72">
        <div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:px-6 lg:px-8">
          <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden">
            <span class="sr-only">Open sidebar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5M3.75 12h16.5M3.75 18.75h16.5" />
            </svg>
          </button>

          <!-- Search -->
          <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

          <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
            <form class="relative flex flex-1" action="#" method="GET">
              <label for="search-field" class="sr-only">Search</label>
              <svg class="pointer-events-none absolute inset-y-0 left-0 h-full w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M9 3a7 7 0 014.546 12.032l4.713 4.713a1 1 0 01-1.414 1.414l-4.713-4.713A7 7 0 119 3zm0 2a5 5 0 100 10A5 5 0 009 5z" clip-rule="evenodd" />
              </svg>
              <input id="search-field" class="block h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Search..." type="search" name="search">
            </form>
          </div>
        </div>

        <main class="py-10">
          <div class="px-4 sm:px-6 lg:px-8">
            <div id="Dashboard Content" class="page-content">
            <%= erb(:'data/sentiment')%>
            </div>
            <div id="News Content" class="page-content hidden">
             <%= erb(:'data/news')%>
            </div>
            <div id="Intraday Content" class="page-content hidden">
             <%= erb(:'data/intraday_data')%>
            </div>
            <div id="Historical Content" class="page-content hidden">
             <%= erb(:'data/eod')%>
            </div>
            <div id="Stock Price Correlation Content" class="page-content hidden">
              <%= erb(:'data/stocks_data')%>
            </div>
            <div id="Custom Sentiment Analysis Content" class="page-content hidden">
              <%= erb(:'data/custom')%>
            </div>
            <div id="Help/FAQ Content" class="page-content hidden">
             <%= erb(:'skeleton/faq')%>
            </div>
          </div>
        </main>
      </div>
    </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const links = document.querySelectorAll('.sidebar-link');
      links.forEach(link => {
        link.addEventListener('click', function (event) {
          event.preventDefault();
          document.querySelectorAll('.page-content').forEach(content => content.classList.add('hidden'));
          document.getElementById(this.getAttribute('data-content')).classList.remove('hidden');
          links.forEach(link => link.classList.remove('bg-gray-100', 'text-indigo-600'));
          this.classList.add('bg-gray-100', 'text-indigo-600');
        });
      });
    });
  </script>
